
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* propriedades padrao */

  /* background-image: url(assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; */




/* propriedade shorthand ou atalho 'clean code' */

/*ordem - background: image repeat position/size */
  background: url(assets/bg.jpg) no-repeat top center/cover;

  
}

body *{  
  font-family: 'Inter', sans-serif;
  color:#fff;
}

#container{
  width: 360px;
  margin:auto;
}

#profile{
  text-align: center;
  padding: 24px;
}

#profile img{
  width: 112px;
  margin: auto;
  display: block;
}

#profile p{
  font-size: 16px;
  font-weight: 500;
  font-weight: 14px;
  margin-top: 8px;
}